# clion file
.idea
cmake-build-debug
cmake-build-release

# mac file
.DS_Store

# external depebdencies
external
vendor/box2d/unit-test/collision_test.cpp
vendor/box2d/unit-test/CMakeLists.txt
vendor/box2d/testbed/tests/wrecking_ball.cpp
vendor/box2d/testbed/tests/wheel_joint.cpp
vendor/box2d/testbed/tests/web.cpp
vendor/box2d/testbed/tests/tumbler.cpp
vendor/box2d/testbed/tests/time_of_impact.cpp
vendor/box2d/testbed/tests/tiles.cpp
vendor/box2d/testbed/tests/theo_jansen.cpp
vendor/box2d/testbed/tests/slider_crank_2.cpp
vendor/box2d/testbed/tests/slider_crank_1.cpp
vendor/box2d/testbed/tests/skier.cpp
vendor/box2d/testbed/tests/shape_editing.cpp
vendor/box2d/testbed/tests/shape_cast.cpp
vendor/box2d/testbed/tests/sensor.cpp
vendor/box2d/testbed/tests/rope.cpp
vendor/box2d/testbed/tests/revolute_joint.cpp
vendor/box2d/testbed/tests/restitution.cpp
vendor/box2d/testbed/tests/ray_cast.cpp
vendor/box2d/testbed/tests/pyramid.cpp
vendor/box2d/testbed/tests/pulley_joint.cpp
vendor/box2d/testbed/tests/prismatic_joint.cpp
vendor/box2d/testbed/tests/polygon_shapes.cpp
vendor/box2d/testbed/tests/polygon_collision.cpp
vendor/box2d/testbed/tests/platformer.cpp
vendor/box2d/testbed/tests/pinball.cpp
vendor/box2d/testbed/tests/motor_joint.cpp
vendor/box2d/testbed/tests/mobile_unbalanced.cpp
vendor/box2d/testbed/tests/mobile_balanced.cpp
vendor/box2d/testbed/tests/heavy2.cpp
vendor/box2d/testbed/tests/heavy1.cpp
vendor/box2d/testbed/tests/gear_joint.cpp
vendor/box2d/testbed/tests/friction.cpp
vendor/box2d/testbed/tests/edge_test.cpp
vendor/box2d/testbed/tests/edge_shapes.cpp
vendor/box2d/testbed/tests/dynamic_tree.cpp
vendor/box2d/testbed/tests/dump_loader.cpp
vendor/box2d/testbed/tests/dominos.cpp
vendor/box2d/testbed/tests/distance_test.cpp
vendor/box2d/testbed/tests/distance_joint.cpp
vendor/box2d/testbed/tests/conveyor_belt.cpp
vendor/box2d/testbed/tests/convex_hull.cpp
vendor/box2d/testbed/tests/continuous_test.cpp
vendor/box2d/testbed/tests/confined.cpp
vendor/box2d/testbed/tests/compound_shapes.cpp
vendor/box2d/testbed/tests/collision_processing.cpp
vendor/box2d/testbed/tests/collision_filtering.cpp
vendor/box2d/testbed/tests/circle_stack.cpp
vendor/box2d/testbed/tests/character_collision.cpp
vendor/box2d/testbed/tests/chain_problem.cpp
vendor/box2d/testbed/tests/chain.cpp
vendor/box2d/testbed/tests/car.cpp
vendor/box2d/testbed/tests/cantilever.cpp
vendor/box2d/testbed/tests/bullet_test.cpp
vendor/box2d/testbed/tests/bridge.cpp
vendor/box2d/testbed/tests/breakable.cpp
vendor/box2d/testbed/tests/box_stack.cpp
vendor/box2d/testbed/tests/body_types.cpp
vendor/box2d/testbed/tests/apply_force.cpp
vendor/box2d/testbed/tests/add_pair.cpp
vendor/box2d/testbed/test.h
vendor/box2d/testbed/test.cpp
vendor/box2d/testbed/settings.h
vendor/box2d/testbed/settings.cpp
vendor/box2d/testbed/main.cpp
vendor/box2d/testbed/MacOSXBundleInfo.plist.in
vendor/box2d/testbed/imgui_impl_opengl3.h
vendor/box2d/testbed/imgui_impl_opengl3.cpp
vendor/box2d/testbed/imgui_impl_glfw.h
vendor/box2d/testbed/imgui_impl_glfw.cpp
vendor/box2d/testbed/draw.h
vendor/box2d/testbed/draw.cpp
vendor/box2d/testbed/data/droid_sans.ttf
vendor/box2d/testbed/CMakeLists.txt
vendor/box2d/src/rope/b2_rope.cpp
vendor/box2d/src/dynamics/b2_world_callbacks.cpp
vendor/box2d/src/dynamics/b2_world.cpp
vendor/box2d/src/dynamics/b2_wheel_joint.cpp
vendor/box2d/src/dynamics/b2_weld_joint.cpp
vendor/box2d/src/dynamics/b2_revolute_joint.cpp
vendor/box2d/src/dynamics/b2_pulley_joint.cpp
vendor/box2d/src/dynamics/b2_prismatic_joint.cpp
vendor/box2d/src/dynamics/b2_polygon_contact.h
vendor/box2d/src/dynamics/b2_polygon_contact.cpp
vendor/box2d/src/dynamics/b2_polygon_circle_contact.h
vendor/box2d/src/dynamics/b2_polygon_circle_contact.cpp
vendor/box2d/src/dynamics/b2_mouse_joint.cpp
vendor/box2d/src/dynamics/b2_motor_joint.cpp
vendor/box2d/src/dynamics/b2_joint.cpp
vendor/box2d/src/dynamics/b2_island.h
vendor/box2d/src/dynamics/b2_island.cpp
vendor/box2d/src/dynamics/b2_gear_joint.cpp
vendor/box2d/src/dynamics/b2_friction_joint.cpp
vendor/box2d/src/dynamics/b2_fixture.cpp
vendor/box2d/src/dynamics/b2_edge_polygon_contact.h
vendor/box2d/src/dynamics/b2_edge_polygon_contact.cpp
vendor/box2d/src/dynamics/b2_edge_circle_contact.h
vendor/box2d/src/dynamics/b2_edge_circle_contact.cpp
vendor/box2d/src/dynamics/b2_distance_joint.cpp
vendor/box2d/src/dynamics/b2_contact_solver.h
vendor/box2d/src/dynamics/b2_contact_solver.cpp
vendor/box2d/src/dynamics/b2_contact_manager.cpp
vendor/box2d/src/dynamics/b2_contact.cpp
vendor/box2d/src/dynamics/b2_circle_contact.h
vendor/box2d/src/dynamics/b2_circle_contact.cpp
vendor/box2d/src/dynamics/b2_chain_polygon_contact.h
vendor/box2d/src/dynamics/b2_chain_polygon_contact.cpp
vendor/box2d/src/dynamics/b2_chain_circle_contact.h
vendor/box2d/src/dynamics/b2_chain_circle_contact.cpp
vendor/box2d/src/dynamics/b2_body.cpp
vendor/box2d/src/common/b2_timer.cpp
vendor/box2d/src/common/b2_stack_allocator.cpp
vendor/box2d/src/common/b2_settings.cpp
vendor/box2d/src/common/b2_math.cpp
vendor/box2d/src/common/b2_draw.cpp
vendor/box2d/src/common/b2_block_allocator.cpp
vendor/box2d/src/collision/b2_time_of_impact.cpp
vendor/box2d/src/collision/b2_polygon_shape.cpp
vendor/box2d/src/collision/b2_edge_shape.cpp
vendor/box2d/src/collision/b2_dynamic_tree.cpp
vendor/box2d/src/collision/b2_distance.cpp
vendor/box2d/src/collision/b2_collision.cpp
vendor/box2d/src/collision/b2_collide_polygon.cpp
vendor/box2d/src/collision/b2_collide_edge.cpp
vendor/box2d/src/collision/b2_collide_circle.cpp
vendor/box2d/src/collision/b2_circle_shape.cpp
vendor/box2d/src/collision/b2_chain_shape.cpp
vendor/box2d/src/collision/b2_broad_phase.cpp
vendor/box2d/src/CMakeLists.txt
vendor/box2d/README.md
vendor/box2d/LICENSE
vendor/box2d/include/box2d/box2d.h
vendor/box2d/include/box2d/b2_world_callbacks.h
vendor/box2d/include/box2d/b2_world.h
vendor/box2d/include/box2d/b2_wheel_joint.h
vendor/box2d/include/box2d/b2_weld_joint.h
vendor/box2d/include/box2d/b2_types.h
vendor/box2d/include/box2d/b2_timer.h
vendor/box2d/include/box2d/b2_time_step.h
vendor/box2d/include/box2d/b2_time_of_impact.h
vendor/box2d/include/box2d/b2_stack_allocator.h
vendor/box2d/include/box2d/b2_shape.h
vendor/box2d/include/box2d/b2_settings.h
vendor/box2d/include/box2d/b2_rope.h
vendor/box2d/include/box2d/b2_revolute_joint.h
vendor/box2d/include/box2d/b2_pulley_joint.h
vendor/box2d/include/box2d/b2_prismatic_joint.h
vendor/box2d/include/box2d/b2_polygon_shape.h
vendor/box2d/include/box2d/b2_mouse_joint.h
vendor/box2d/include/box2d/b2_motor_joint.h
vendor/box2d/include/box2d/b2_math.h
vendor/box2d/include/box2d/b2_joint.h
vendor/box2d/include/box2d/b2_growable_stack.h
vendor/box2d/include/box2d/b2_gear_joint.h
vendor/box2d/include/box2d/b2_friction_joint.h
vendor/box2d/include/box2d/b2_fixture.h
vendor/box2d/include/box2d/b2_edge_shape.h
vendor/box2d/include/box2d/b2_dynamic_tree.h
vendor/box2d/include/box2d/b2_draw.h
vendor/box2d/include/box2d/b2_distance_joint.h
vendor/box2d/include/box2d/b2_distance.h
vendor/box2d/include/box2d/b2_contact_manager.h
vendor/box2d/include/box2d/b2_contact.h
vendor/box2d/include/box2d/b2_common.h
vendor/box2d/include/box2d/b2_collision.h
vendor/box2d/include/box2d/b2_circle_shape.h
vendor/box2d/include/box2d/b2_chain_shape.h
vendor/box2d/include/box2d/b2_broad_phase.h
vendor/box2d/include/box2d/b2_body.h
vendor/box2d/include/box2d/b2_block_allocator.h
vendor/box2d/include/box2d/b2_api.h
vendor/box2d/extern/sajson/sajson.h
vendor/box2d/extern/sajson/sajson.cpp
vendor/box2d/extern/sajson/CMakeLists.txt
vendor/box2d/extern/imgui/imstb_truetype.h
vendor/box2d/extern/imgui/imstb_textedit.h
vendor/box2d/extern/imgui/imstb_rectpack.h
vendor/box2d/extern/imgui/imgui_widgets.cpp
vendor/box2d/extern/imgui/imgui_internal.h
vendor/box2d/extern/imgui/imgui_draw.cpp
vendor/box2d/extern/imgui/imgui_demo.cpp
vendor/box2d/extern/imgui/imgui.h
vendor/box2d/extern/imgui/imgui.cpp
vendor/box2d/extern/imgui/imconfig.h
vendor/box2d/extern/imgui/CMakeLists.txt
vendor/box2d/extern/glfw/src/xkb_unicode.h
vendor/box2d/extern/glfw/src/xkb_unicode.c
vendor/box2d/extern/glfw/src/x11_window.c
vendor/box2d/extern/glfw/src/x11_platform.h
vendor/box2d/extern/glfw/src/x11_monitor.c
vendor/box2d/extern/glfw/src/x11_init.c
vendor/box2d/extern/glfw/src/wl_window.c
vendor/box2d/extern/glfw/src/wl_platform.h
vendor/box2d/extern/glfw/src/wl_monitor.c
vendor/box2d/extern/glfw/src/wl_init.c
vendor/box2d/extern/glfw/src/window.c
vendor/box2d/extern/glfw/src/win32_window.c
vendor/box2d/extern/glfw/src/win32_time.c
vendor/box2d/extern/glfw/src/win32_thread.c
vendor/box2d/extern/glfw/src/win32_platform.h
vendor/box2d/extern/glfw/src/win32_monitor.c
vendor/box2d/extern/glfw/src/win32_joystick.h
vendor/box2d/extern/glfw/src/win32_joystick.c
vendor/box2d/extern/glfw/src/win32_init.c
vendor/box2d/extern/glfw/src/wgl_context.h
vendor/box2d/extern/glfw/src/wgl_context.c
vendor/box2d/extern/glfw/src/vulkan.c
vendor/box2d/extern/glfw/src/posix_time.h
vendor/box2d/extern/glfw/src/posix_time.c
vendor/box2d/extern/glfw/src/posix_thread.h
vendor/box2d/extern/glfw/src/posix_thread.c
vendor/box2d/extern/glfw/src/osmesa_context.h
vendor/box2d/extern/glfw/src/osmesa_context.c
vendor/box2d/extern/glfw/src/null_window.c
vendor/box2d/extern/glfw/src/null_platform.h
vendor/box2d/extern/glfw/src/null_monitor.c
vendor/box2d/extern/glfw/src/null_joystick.h
vendor/box2d/extern/glfw/src/null_joystick.c
vendor/box2d/extern/glfw/src/null_init.c
vendor/box2d/extern/glfw/src/nsgl_context.m
vendor/box2d/extern/glfw/src/nsgl_context.h
vendor/box2d/extern/glfw/src/monitor.c
vendor/box2d/extern/glfw/src/mappings.h.in
vendor/box2d/extern/glfw/src/mappings.h
vendor/box2d/extern/glfw/src/linux_joystick.h
vendor/box2d/extern/glfw/src/linux_joystick.c
vendor/box2d/extern/glfw/src/internal.h
vendor/box2d/extern/glfw/src/input.c
vendor/box2d/extern/glfw/src/init.c
vendor/box2d/extern/glfw/src/glx_context.h
vendor/box2d/extern/glfw/src/glx_context.c
vendor/box2d/extern/glfw/src/glfw_config.h
vendor/box2d/extern/glfw/src/egl_context.h
vendor/box2d/extern/glfw/src/egl_context.c
vendor/box2d/extern/glfw/src/context.c
vendor/box2d/extern/glfw/src/cocoa_window.m
vendor/box2d/extern/glfw/src/cocoa_time.c
vendor/box2d/extern/glfw/src/cocoa_platform.h
vendor/box2d/extern/glfw/src/cocoa_monitor.m
vendor/box2d/extern/glfw/src/cocoa_joystick.m
vendor/box2d/extern/glfw/src/cocoa_joystick.h
vendor/box2d/extern/glfw/src/cocoa_init.m
vendor/box2d/extern/glfw/include/GLFW/glfw3native.h
vendor/box2d/extern/glfw/include/GLFW/glfw3.h
vendor/box2d/extern/glfw/CMakeLists.txt
vendor/box2d/extern/glad/src/gl.c
vendor/box2d/extern/glad/include/KHR/khrplatform.h
vendor/box2d/extern/glad/include/glad/gl.h
vendor/box2d/extern/glad/CMakeLists.txt
vendor/box2d/docs/testbed.md
vendor/box2d/docs/references.md
vendor/box2d/docs/overview.md
vendor/box2d/docs/loose_ends.md
vendor/box2d/docs/images/winding.svg
vendor/box2d/docs/images/wheel_joint.svg
vendor/box2d/docs/images/tunneling2.svg
vendor/box2d/docs/images/tunneling1.svg
vendor/box2d/docs/images/testbed.png
vendor/box2d/docs/images/skinned_polygon.svg
vendor/box2d/docs/images/skin_collision.svg
vendor/box2d/docs/images/self_intersect.svg
vendor/box2d/docs/images/revolute_joint.gif
vendor/box2d/docs/images/raycast.svg
vendor/box2d/docs/images/pulley_joint.gif
vendor/box2d/docs/images/prismatic_joint.gif
vendor/box2d/docs/images/overlap_test.svg
vendor/box2d/docs/images/modules.svg
vendor/box2d/docs/images/missed_toi.svg
vendor/box2d/docs/images/manifolds.svg
vendor/box2d/docs/images/logo.svg
vendor/box2d/docs/images/ghost_vertices.svg
vendor/box2d/docs/images/ghost_collision.svg
vendor/box2d/docs/images/gear_joint.gif
vendor/box2d/docs/images/distance_joint.gif
vendor/box2d/docs/images/distance.svg
vendor/box2d/docs/images/debug_draw.png
vendor/box2d/docs/images/convex_concave.gif
vendor/box2d/docs/images/chain_shape.svg
vendor/box2d/docs/images/chain_loop_outwards.svg
vendor/box2d/docs/images/chain_loop_inwards.svg
vendor/box2d/docs/images/captured_toi.svg
vendor/box2d/docs/images/body_origin.gif
vendor/box2d/docs/hello.md
vendor/box2d/docs/FAQ.md
vendor/box2d/docs/extra.css
vendor/box2d/docs/dynamics.md
vendor/box2d/docs/Doxyfile.in
vendor/box2d/docs/copycss.sh
vendor/box2d/docs/common.md
vendor/box2d/docs/collision.md
vendor/box2d/docs/CMakeLists.txt
vendor/box2d/deploy_docs.sh
vendor/box2d/CMakeLists.txt
vendor/box2d/CHANGELOG.md
vendor/box2d/build_docs.sh
vendor/box2d/build.sh
vendor/box2d/build.bat
vendor/box2d/.github/workflows/build.yml
vendor/box2d/.github/pull_request_template.md
vendor/box2d/.github/issue_template.md
